/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Bowlby+One&display=swap');
:root {
    /* fonts */ 
    --header-font: 'Bowlby One', impact;
    --accent-font: 'Abel', verdana; 
    --body-font: 'ABeeZee', helvetica;
    /* colors */ 
    --light-accent: #F5F3EB; 
    --main-accent: #7FA4AD;
    --second-accent: #DE9D49;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    background: rgb(128, 128, 128);
    font-family: 'Titan One', cursive;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: inherit;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(76, 194, 154);
}

img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 15px 0;
}

p {
    font-size: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(151, 13, 110);
}